# SQLite
SQLITE_DATABASE=neo.db

# PostgreSQL
POSTGRESQL_DATABASE=opencoremmo
POSTGRESQL_USER=postgres
POSTGRESQL_PASSWORD=postgres
POSTGRESQL_HOST=postgres
POSTGRESQL_PORT=5432
POSTGRESQL_PGAGMIN_EMAIL=postgres@mail.com

# Server
ACTIVE_DATABASE=POSTGRESQL
SERVER_LOGIN_PORT=7181
SERVER_GAME_PORT=7182
SERVER_GAME_NAME=OpenCoreMMO
SERVER_GAME_IP=127.0.0.1

# GrayLog
GRAYLOG_HOSTNAME_OR_ADDRESS=127.0.0.1
GRAYLOG_PORT=12201
GRAYLOG_HOSTNAME_OVERRIDE=OpenCoreMMO
GRAYLOG_FACILITY=Standalone
GRAYLOG_SECRET=somepasswordpepper
GRAYLOG_PASSWORD_SHA2=8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918